



<div class = "center hero-unit">
	<h1>Welcome to ClassPort</h1>
	<h2>This is the home page for Classport
		<a href="http://railstutorial.org">Ruby on rails Tutorial
		</a> sample Application
	</h2>
	<%= link_to "Sign up now", '#', :class=> "btn btn-large btn-primary"%>
</div>