
<% provide(:title, 'Home')%>


<div class = "center hero-unit">
	<h1>Welcome to ClassPort</h1>
	<h2>Enhancing classroom experience for students and professors
	</h2>
	<%= link_to "Student", '#', :class=> "btn btn-large btn-primary"%>
	<%= link_to "Professor", '#', :class=> "btn btn-large btn-primary"%>
</div>