<footer class="footer">
  <small>
    <a href="http://dal.ca">Dalhousie University</a>
    ClassPort by Ibimina Koko
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://dal.ca">Learn more about Dal</a></li>
    </ul>
  </nav>
</footer>